@font-face {
	font-family: 'DSDIGI';
	src: url('https://github.com/uzumaki-art/portfolio/raw/refs/heads/main/DSDIGI.ttf') format('truetype');
}
.fontsforweb_fontid_0 {
	font-family: 'DSDIGI' !important;
}

@font-face {
	font-family: 'TKD';
	src: url('https://github.com/uzumaki-art/portfolio/raw/refs/heads/main/TKD.ttf') format('truetype');
}
.fontsforweb_fontid_1 {
	font-family: 'TKD' !important;
}

@font-face {
	font-family: 'DIGITAL';
	src: url('https://github.com/uzumaki-art/portfolio/raw/refs/heads/main/DIGITAL.ttf') format('truetype');
}
.fontsforweb_fontid_2 {
	font-family: 'DIGITAL' !important;
}

@font-face {
	font-family: 'fira';
	src: url('https://github.com/uzumaki-art/portfolio/raw/refs/heads/main/FiraCode.ttf') format('truetype');
}
.fontsforweb_fontid_3 {
	font-family: 'DIGITAL' !important;
}
@font-face {
	font-family: 'pixelon';
	src: url('https://github.com/uzumaki-art/portfolio/raw/refs/heads/main/pixelon.ttf') format('truetype');
}
.fontsforweb_fontid_3 {
	font-family: 'pixelon' !important;
}
@font-face {
	font-family: 'nerd';
	src: url('https://github.com/uzumaki-art/portfolio/raw/refs/heads/main/JetBrainsMonoNerdFont-Bold.ttf') format('truetype');
}
.fontsforweb_fontid_3 {
	font-family: 'nerd' !important;
}
